<!--<div class="wrapper">-->
<!--  <section (drop)="onDrop($event)" (dragover)="onDragOver($event)" class="source-item">-->
<!--    <h3>선택 전 컬럼(N)</h3>-->
<!--    <input type="text" placeholder="검색">-->
<!--    <ul class="child select-option">-->
<!--      <li-->
<!--        draggable="true"-->
<!--        [id]="item.id"-->
<!--        (dragstart)="onDragStart($event)"-->
<!--        *ngFor="let item of sourceItem; let i = index"-->
<!--        (click)="selectOption($event, i)">{{item.name}}</li>-->
<!--    </ul>-->
<!--  </section>-->

<!--  <section>-->
<!--    버튼 조작-->
<!--  </section>-->
<!--  <section (drop)="onDrop($event)" (dragover)="onDragOver($event)" class="target-item">-->
<!--    <h3>선택 된 컬럼(N)</h3>-->
<!--    <input type="text" placeholder="검색">-->
<!--    <ul class="child select-option">-->
<!--      <li-->
<!--        draggable="true"-->
<!--        *ngFor="let item of targetItem; let i = index"-->
<!--        [id]="item.id"-->
<!--        (click)="selectOption($event, i)">{{item.name}}</li>-->
<!--    </ul>-->
<!--  </section>-->
<!--</div>-->

